.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 10px;
    font-size: 18px;
}

.menu li:nth-child(odd) {
    background-color: #f0f0f0;
}

.menu li:nth-child(even) {
    background-color: #dcdcdc;
}

.menu li::before {
    content: "🎮 ";
}

.menu a {
    text-decoration: none;
    color: #222;
}

.menu a:hover {
    color: rgb(157, 0, 255);
    text-decoration: underline;
}